/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.nav-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the welcome and app name */
.nav-bar div {
    font-size: 20px;
    margin-top:30px ;

}

/* Style the logout link */
.nav-bar a {
    color: #0a0101;
    text-decoration: none;
    display: flex;
    border: 1 px solid black;
    
}

/* Style the container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Style the header */
.signup {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

/* Style the form inputs and labels */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Style the Add button */
button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Style the footer */
footer {
    margin-top: 20px;
    color: #333;
    font-size: 12px;
}

.urls {
    display: flex;
    justify-content: space-around;
   
    
}